#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Gloock', serif;
}

#author {
  text-align: right;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.buttonCol {
  display: flex;
  flex-direction: column;
}

.twitter-share-button {
  width: 24px;
  height: auto;
  padding: 5px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}