$font-stack: 'Libre Baskerville', serif;
$primary-color: #1d9bf0;
$text-shadow: 2px 2px #00000024;

@mixin desktop() {
  @media (min-width: 960px) {
    @content;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  margin: 0 1em;
  @include desktop() {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}

#quote-box {
    padding: 3em;
    border-radius: 36px 0;
    position: relative;
    overflow: hidden;
    max-width: 960px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 3px 3px 6px 0px #00000024;

    @include desktop() {
      padding: 3em 5em;
      min-height: 30em;
    }

    &::after,
    &::before {
      background-image: url(assets/quote-mark.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;
      content: "";
      position: absolute;
      width: 300px;
      height: 214px;
      opacity: 0.12;
      z-index: 0;
    }

    &::before {
      transform: rotate(180deg);
      top: -30px;
      left: -40px;
    }

    &::after {
      bottom: -30px;
      right: -40px;
    }

    .quoteWrapper {
      display: flex;
      flex-direction: row;
      color: #fff;
      position: relative;
      z-index: 10;
    
      .quoteMark {
        font-size: 5rem;
        font-style: italic;
        display: none;
      }

      .quoteContainer {
        #text {
          text-align: left;
          line-height: 1.5;
          text-shadow: $text-shadow;
          font-size: 1.5em;
          @include desktop() {
            font-size: 3.2em;
            line-height: 1.25;
          }
        }

        #author {
          text-align: left;
          font-size: 1em;
          font-style: normal;
          text-shadow:  $text-shadow;
          font-size: 1em;
          @include desktop() {
            font-size: 1.75em;
            text-align: right;
            font-style: italic;
          }
        }
      }
    }
    
    .buttonRow {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      z-index: 10;
      justify-content: center;
      flex-direction: column-reverse;
      @include desktop() {
        flex-direction: row;
        justify-content: flex-start;
      }

      .twitter-share-button {
        width: 100%;
        height: 41px;
        padding: 8px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px transparent;
        box-shadow: $text-shadow;

        @include desktop() {
          width: 70px;
        }
      
        &:hover {
          border-color: $primary-color;
        }
      
        img {
          width: 100%;
          height: 100%;
        }
      }

      #new-quote {
        color: #1d9bf0;
        box-shadow: $text-shadow;
        width: 100%;
        background-color: #fff;

        @include desktop() {
          width: auto;
        }
      
        &:hover {
          border-color: $primary-color;
        }
        &:focus {
          outline: none;
        }
      }
    }
}
